we need to import the dataset

In [2]:
import os 
import pandas as pd

pwd = os.getcwd()
filename = "/netflix_titles.csv"
filepath = pwd+filename
loadNetflixTitles = pd.read_csv(filepath)
loadNetflixTitles

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
...,...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast..."
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...

### List out Columns

This will list all of the columns in the dataset

In [3]:
loadNetflixTitles.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

### Basic Descriptive Statistics

If we want to run some descriptive statistics on all the numerical columns in the dataset use

In [4]:
loadNetflixTitles.describe()
# possibly not a good example as data out seems a bit random...

       release_year
count   7787.000000
mean    2013.932580
std        8.757395
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2018.000000
max     2021.000000

### See Unique Values in a Column

If you want to see the unique values in a column just do this

In [5]:
loadNetflixTitles['type'].unique()
# quite useful

array(['TV Show', 'Movie'], dtype=object)

### Filtering DataFrames

Let's try and find only the movies made in Singapore. We're going to be using something called subsetting by boolean conditions.

In [6]:
loadNetflixTitles[loadNetflixTitles["country"] == "Singapore"] # very cool and quick to see some data extraction

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
333,s334,TV Show,Against the Tide,NaN,"Christopher Lee, Rui En, Desmond Tan, Zheng Ge...",Singapore,"July 1, 2017",2014,TV-14,1 Season,"Crime TV Shows, International TV Shows, TV Dramas",A detective and a psychologist investigating a...
511,s512,Movie,André & his olive tree,Josiah Ng,André Chiang,Singapore,"December 8, 2020",2020,TV-PG,104 min,"Documentaries, International Movies","As he prepares to close his restaurant, Michel..."
1064,s1065,TV Show,Bountiful Blessings,NaN,"Jessica Hsuan, Tay Ping Hui, Thomas Ong, Jeffr...",Singapore,"August 1, 2017",2011,TV-14,1 Season,"International TV Shows, TV Dramas, TV Sci-Fi &...",A former mortal who is now the Kitchen God coo...
2093,s2094,Movie,Fakkah Fuzz: Almost Banned,Michael McKay,Fakkah Fuzz,Singapore,"January 26, 2018",2018,TV-MA,61 min,Stand-Up Comedy,Stand-up comic Fakkah Fuzz mines cross-cultura...
2956,s2957,Movie,Imperfect,Steve Cheng,"Edwin Goh, Ian Fang Weijie, Phua Yida, Kimberl...",Singapore,"December 20, 2018",2012,TV-MA,95 min,"Action & Adventure, International Movies","After a brawl lands him in a Boys’ Home, a tee..."
3528,s3529,Movie,Lang Tong,Sam Loh,"William Lawandi, Angeline Yap, Vivienne Tseng,...",Singapore,"December 20, 2018",2015,TV-MA,82 min,"International Movies, Thrillers","After seducing a philandering con man, a rebel..."
4106,s4107,TV Show,Mind Game,NaN,"Tay Ping Hui, Joanne Peh, Zhang Yaodong, Paige...",Singapore,"June 1, 2017",2015,TV-14,1 Season,"Crime TV Shows, International TV Shows, TV Dramas","With the help of a cop, a psychologist and a w..."
4138,s4139,Movie,Miss J Contemplates Her Choice,Jason Lai,"Kit Chan, Xiang Yun, Bobby Tonelli, Shane Pow,...",Singapore,"December 20, 2018",2014,TV-MA,89 min,"Dramas, International Movies, Thrillers",The life of a radio talk-show host is turned u...
4375,s4376,TV Show,Mystic Whispers,NaN,"Romeo Tan, Sheila Sim, Yuan Shuai, Aloysius Pang",Singapore,"July 1, 2017",2014,TV-14,1 Season,"International TV Shows, TV Dramas, TV Horror",After a car accident enables a young woman to ...
5870,s5871,TV Show,Sudden,NaN,"Rui En, Romeo Tan, Rebecca Lim, Zhang Zhenhuan",Singapore,"October 1, 2017",2013,TV-14,1 Season,"International TV Shows, Romantic TV Shows, TV ...",A car accident sends four lawyers spiraling in...
6087,s6088,TV Show,The Apartment,NaN,"Jamie Durie, Laurence Llewelyn-Bowen",Singapore,"December 14, 2018",2014,TV-PG,2 Seasons,"International TV Shows, Reality TV","With their eyes on the grand prize, amateur de..."
6311,s6312,TV Show,The Dream Catchers,NaN,"Rui En, Tay Ping Hui, Jesseca Liu, Shaun Chen,...",Singapore,"October 1, 2017",2009,TV-14,1 Season,"International TV Shows, Romantic TV Shows, TV ...",Four engineers from different walks of life cr...
6312,s6313,TV Show,The Dream Job,NaN,"Hugo Ng, Shaun Chen, Jeanette Aw, Rebecca Lim,...",Singapore,"June 1, 2017",2016,TV-14,1 Season,"International TV Shows, TV Dramas","A mysterious, wealthy man offers three people ..."
6481,s6482,TV Show,The In-Laws,NaN,"Louise Lee, Rui En, Pierre Png, Darren Lim, Cy...",Singapore,"August 1, 2017",2011,TV-14,1 Season,"International TV Shows, TV Dramas",She swore not to meddle in her kids' lives lik...
6716,s6717,TV Show,The Oath,NaN,"Christopher Lee, Jesseca Liu, Ann Kok, Kate Pa...",Singapore,"July 1, 2017",2011,TV-14,1 Season,"International TV Shows, Romantic TV Shows, TV ...",Two doctors with opposite approaches to treati...
6949,s6950,TV Show,The Truth Seekers,NaN,"Chen Hanwei, Rebecca Lim, Desmond Tan, Yusuke ...",Singapore,"July 1, 2017",2016,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Dramas",A veteran cop forms an agency dedicated to sol...
6957,s6958,TV Show,The Ultimatum,NaN,"Zoe Tay, Fann Wong, Li Nanxing, Tay Ping Hui, ...",Singapore,"July 1, 2017",2009,TV-14,1 Season,"International TV Shows, TV Dramas",Love and intrigue swirl around two women – one...
7128,s7129,TV Show,Together,NaN,"Jeanette Aw, Dai Xiangyu, Elvin Ng, Eelyn Kok,...",Singapore,"November 1, 2017",2009,TV-14,1 Season,"International TV Shows, TV Dramas","Spanning 30 years, a group of dedicated and di..."
7358,s7359,TV Show,Unriddle,NaN,"Rui En, Chen Liping, Tay Ping Hui, Andie Chen,...",Singapore,"July 1, 2017",2012,TV-14,2 Seasons,"Crime TV Shows, International TV Shows, TV Dramas",When a hard-nosed detective reluctantly partne...
7664,s7665,TV Show,World at Your Feet,NaN,"Ha Yu, Tay Ping Hui, Jeanette Aw, Elvin Ng, Yv...",Singapore,"July 1, 2017",2014,TV-14,1 Season,"International TV Shows, TV Dramas",A group of struggling individuals are united b...
7709,s7710,TV Show,Yes We Can!,NaN,"Romeo Tan, Rebecca Lim, Sora Ma, Xu Bin, Chen ...",Singapore,"July 1, 2017",2014,TV-14,1 Season,"International TV Shows, TV Dramas",When a frustrated businessman starts his own f...
7743,s7744,TV Show,Yours Fatefully,NaN,"Kingone Wang, Jesseca Liu, Xiang Yun, Chen Shu...",Singapore,"July 1, 2017",2012,TV-14,1 Season,"International TV Shows, Romantic TV Shows, TV ...",Two lonely singles meet on a blind date and sl...

Let's see if we can use multiple conditions. We'll be using those bitwise operators we mentioned earlier.

In [9]:
loadNetflixTitles[(loadNetflixTitles['country'] == 'Singapore') & (loadNetflixTitles['rating'] == 'TV-MA')]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
2093,s2094,Movie,Fakkah Fuzz: Almost Banned,Michael McKay,Fakkah Fuzz,Singapore,"January 26, 2018",2018,TV-MA,61 min,Stand-Up Comedy,Stand-up comic Fakkah Fuzz mines cross-cultura...
2956,s2957,Movie,Imperfect,Steve Cheng,"Edwin Goh, Ian Fang Weijie, Phua Yida, Kimberl...",Singapore,"December 20, 2018",2012,TV-MA,95 min,"Action & Adventure, International Movies","After a brawl lands him in a Boys’ Home, a tee..."
3528,s3529,Movie,Lang Tong,Sam Loh,"William Lawandi, Angeline Yap, Vivienne Tseng,...",Singapore,"December 20, 2018",2015,TV-MA,82 min,"International Movies, Thrillers","After seducing a philandering con man, a rebel..."
4138,s4139,Movie,Miss J Contemplates Her Choice,Jason Lai,"Kit Chan, Xiang Yun, Bobby Tonelli, Shane Pow,...",Singapore,"December 20, 2018",2014,TV-MA,89 min,"Dramas, International Movies, Thrillers",The life of a radio talk-show host is turned u...
6949,s6950,TV Show,The Truth Seekers,NaN,"Chen Hanwei, Rebecca Lim, Desmond Tan, Yusuke ...",Singapore,"July 1, 2017",2016,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Dramas",A veteran cop forms an agency dedicated to sol...

very bloody cool!

### DateTimes

As a Data Analyst, Dates and Times will be one of the most challenging datatypes you'll encounter. Different systems will store them differently, and there will often be different formats of dates in the same database. I could make an entire lesson on just Dates and Times so we'll just stick with the basics here.

In [10]:
loadNetflixTitles['computer_date'] = pd.to_datetime(loadNetflixTitles['date_added'])
# see below for example

In [11]:
loadNetflixTitles[(loadNetflixTitles['country'] == 'Singapore') & (loadNetflixTitles['rating'] == 'TV-MA')]
# repeated data extraction from previous example, but you will see a new column at the end with a computer date

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,computer_date
2093,s2094,Movie,Fakkah Fuzz: Almost Banned,Michael McKay,Fakkah Fuzz,Singapore,"January 26, 2018",2018,TV-MA,61 min,Stand-Up Comedy,Stand-up comic Fakkah Fuzz mines cross-cultura...,2018-01-26
2956,s2957,Movie,Imperfect,Steve Cheng,"Edwin Goh, Ian Fang Weijie, Phua Yida, Kimberl...",Singapore,"December 20, 2018",2012,TV-MA,95 min,"Action & Adventure, International Movies","After a brawl lands him in a Boys’ Home, a tee...",2018-12-20
3528,s3529,Movie,Lang Tong,Sam Loh,"William Lawandi, Angeline Yap, Vivienne Tseng,...",Singapore,"December 20, 2018",2015,TV-MA,82 min,"International Movies, Thrillers","After seducing a philandering con man, a rebel...",2018-12-20
4138,s4139,Movie,Miss J Contemplates Her Choice,Jason Lai,"Kit Chan, Xiang Yun, Bobby Tonelli, Shane Pow,...",Singapore,"December 20, 2018",2014,TV-MA,89 min,"Dramas, International Movies, Thrillers",The life of a radio talk-show host is turned u...,2018-12-20
6949,s6950,TV Show,The Truth Seekers,NaN,"Chen Hanwei, Rebecca Lim, Desmond Tan, Yusuke ...",Singapore,"July 1, 2017",2016,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Dramas",A veteran cop forms an agency dedicated to sol...,2017-07-01

let's find any non-computer date items (failed at this)

In [38]:

loadNetflixTitles[loadNetflixTitles['computer_date'] == '']

Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description, computer_date]
Index: []

We ended up with a couple of NaT values which are the datetime equivalents of NaN. Let's fill those in. We'll have to create a datetime variable using the datetime package.

In [39]:
import datetime

loadNetflixTitles['computer_date'].fillna(datetime.datetime(2020,1,1), inplace=True)

I also want to tell you about something called Unix Time. You'll encounter it in a lot of datasets, it's basically a way to express a date and time as an integer. It counts up 1 for every second since January 1st, 1970, known as the Unix Epoch.

In [41]:
loadNetflixTitles['unix_time'] = loadNetflixTitles['computer_date'].astype(int)

loadNetflixTitles # look at the last column

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,computer_date,unix_time
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,2020-08-14,1597363200000000000
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,2016-12-23,1482451200000000000
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",2018-12-20,1545264000000000000
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",2017-11-16,1510790400000000000
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,2020-01-01,1577836800000000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...,2020-10-19,1603065600000000000
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,2019-03-02,1551484800000000000
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast...",2020-09-25,1600992000000000000
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...,2020-10-31,1604102400000000000
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...,2020-03-01,1583020800000000000

### Splitting Columns

Sometimes we'll encounter a DataFrame column with data we want to split on some delimiter. Let's try and split our "date_added" column into two columns that way we can compare the year media shows up on Netflix to when it was released. 

In this case we'll want to split on a comma, and looking through the data, we know that we'll end up with two different columns. 
We can split this data using a `str.split` method. We can also specify the two columns ahead of time like so.

In [44]:
loadNetflixTitles[['date p1', 'date p2']] = loadNetflixTitles['date_added'].str.split(', ', expand=True)
# expand=True is used to create new columns instead of creating a list of all the split elements in one column. 
loadNetflixTitles.iloc[:6]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,computer_date,unix_time,date p1,date p2
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,2020-08-14,1597363200000000000,August 14,2020
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,2016-12-23,1482451200000000000,December 23,2016
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",2018-12-20,1545264000000000000,December 20,2018
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",2017-11-16,1510790400000000000,November 16,2017
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,2020-01-01,1577836800000000000,January 1,2020
5,s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,"July 1, 2017",2016,TV-MA,1 Season,"International TV Shows, TV Dramas, TV Mysteries",A genetics professor experiments with a treatm...,2017-07-01,1498867200000000000,July 1,2017

### Renaming Columns

I named the year column we just split off `Date Part 2` on purpose. We will now rename it.

In [48]:
loadNetflixTitles.rename(columns={'date p2': 'year'}, inplace=True)
loadNetflixTitles.rename(columns={'date p1': 'month/day'}, inplace=True)
loadNetflixTitles.iloc[:3]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,computer_date,unix_time,month/day,year
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,2020-08-14,1597363200000000000,August 14,2020
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,2016-12-23,1482451200000000000,December 23,2016
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",2018-12-20,1545264000000000000,December 20,2018

### Dealing with Null Values - Fill Na

Often you'll find `NaN` data in your DataFrame. This means "Not a Number" and is similar to a "Null" value. You often don't want this in your data, let's practice getting rid of it.

In [49]:
loadNetflixTitles['cast'].fillna(value="no cast", inplace=True)

### Applying a Function to Every Row

Next, I'd like to count the number of genres that a film is listed in. This can be done multiple ways, but I'm going to use something called a lambda function and the `apply` method to accomplish this. 

As a quick aside, a lambda function allows you to write a function in one line.

> the_adder = lambda x: x + 210101

In this situation, the argument is `x` and you perform the calculations with whatever is to the right of the colon. 

We can use this to apply logic to every row of a DataFrame using either the `map` or the `apply` method. 

The `map` method will pass each element of a Series (remember a series is basically a column of a DataFrame) to the lambda function. The `apply` method will pass an entire row to the lambda function. In short this means that if you want to perform calculations using multiple columns of data, use the `apply` method, otherwise use the `map` method.

In [50]:
loadNetflixTitles['genre_count'] = loadNetflixTitles['listed_in'].map(lambda x: len(x.split(',')))
loadNetflixTitles.iloc[:5]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,computer_date,unix_time,month/day,year,genre_count
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,2020-08-14,1597363200000000000,August 14,2020,3
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,2016-12-23,1482451200000000000,December 23,2016,2
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",2018-12-20,1545264000000000000,December 20,2018,2
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",2017-11-16,1510790400000000000,November 16,2017,3
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,2020-01-01,1577836800000000000,January 1,2020,1

What Pandas is doing here, is it's passing each element of the Series `loadNetflixTitles["listed_in"]` to the lambda function as `x`. We then perform the logic with the code after the colon. 

As an example of using the `apply` method let's try and count the number of cast members and genres.

In [53]:
loadNetflixTitles['silly data'] = loadNetflixTitles.apply(lambda x: len(x['cast'].split(',')) + len(x['listed_in'].split(',')), axis = 1)
loadNetflixTitles.iloc[:3]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,computer_date,unix_time,month/day,year,genre_count,silly data
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,2020-08-14,1597363200000000000,August 14,2020,3,14
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,2016-12-23,1482451200000000000,December 23,2016,2,8
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",2018-12-20,1545264000000000000,December 20,2018,2,11

### GroupBy, Aggregation, and Sorting Values

Oftentimes you'll want to perform aggregations on your data. In this case, you'll want to use `groupby`s and aggregations. Let's count the number of movies per country and sort the list in descending order.

In [55]:
loadNetflixTitles.groupby('country')['show_id'].count()

country
Argentina                                              50
Argentina, Brazil, France, Poland, Germany, Denmark     1
Argentina, Chile                                        1
Argentina, Chile, Peru                                  1
Argentina, France                                       1
                                                       ..
Venezuela                                               1
Venezuela, Colombia                                     1
Vietnam                                                 5
West Germany                                            1
Zimbabwe                                                1
Name: show_id, Length: 681, dtype: int64

The above code will output something called a groupby object. This isn't too useful, so we'll need to turn the data back into a DataFrame using a method called reset_index().

In [56]:
loadNetflixTitles.groupby('country')['show_id'].count().reset_index

<bound method Series.reset_index of country
Argentina                                              50
Argentina, Brazil, France, Poland, Germany, Denmark     1
Argentina, Chile                                        1
Argentina, Chile, Peru                                  1
Argentina, France                                       1
                                                       ..
Venezuela                                               1
Venezuela, Colombia                                     1
Vietnam                                                 5
West Germany                                            1
Zimbabwe                                                1
Name: show_id, Length: 681, dtype: int64>

Now, let's sort our values.

In [58]:
netflixMoviesByCountry = loadNetflixTitles.groupby('country')['show_id'].count().reset_index().sort_values(by='show_id', ascending=False)
netflixMoviesByCountry

                               country  show_id
549                      United States     2555
229                              India      923
462                     United Kingdom      397
291                              Japan      226
394                        South Korea      183
..                                 ...      ...
252  Indonesia, South Korea, Singapore        1
253          Indonesia, United Kingdom        1
254           Indonesia, United States        1
255                       Iran, France        1
680                           Zimbabwe        1

[681 rows x 2 columns]

As you can see, Pandas makes it very easy to just string together commands to transform DataFrames. This is one of the great things about Pandas. You can use other aggregations if you'd like also.

### Joins and Unions

Oftentimes we'll want to enrich our data by adding more data from other datasets to it. There are two major ways we can combine our datasets together:

**Unions**

Put simply, a union (SQL Union) is the process of stacking two tables on top of one another. You will usually do this when your data is split up into multiple sections like an excel spreadsheet of a year’s sales split by month.

In [63]:
firstDataSet = loadNetflixTitles
secondDataSet = pd.read_csv(pwd+'/netflix_titles_second.csv')

thirdDataSet = pd.concat([firstDataSet, secondDataSet])

thirdDataSet.columns, thirdDataSet.describe()

(Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
        'release_year', 'rating', 'duration', 'listed_in', 'description',
        'computer_date', 'unix_time', 'month/day', 'year', 'genre_count',
        'silly data'],
       dtype='object'),
        release_year     unix_time  genre_count   silly data
 count   8141.000000  7.787000e+03  7787.000000  7787.000000
 mean    2013.972853  1.546497e+18     2.192243     9.470143
 std        8.666968  4.361179e+16     0.786086     4.962456
 min     1925.000000  1.199146e+18     1.000000     2.000000
 25%     2013.000000  1.517443e+18     2.000000     6.000000
 50%     2017.000000  1.552003e+18     2.000000    10.000000
 75%     2018.000000  1.579262e+18     3.000000    12.000000
 max     2021.000000  1.610755e+18     3.000000    53.000000)

**Joins**

Joins combine two tables horizontally. For a join, like a Union you have to have at least two tables, what we call our Left Table and our Right Table. You (mostly) have to have at least one matching column between the two tables, and you will match rows from these columns. The most common way to visualize the types of Joins are through Venn Diagrams.

You’ll mostly be sticking to Left and Inner Joins. It’s worth your time to learn more about Joins because they are some of the most powerful tools you can use to manipulate data. I use Joins basically every single day in my work. For this course we’re going to stick with relatively simple Joins.

We’re now going to do something called an Inner Join on the [ID] column which will only output exact matches from the [ID] column in our output.

In [65]:
# Let's combine our data using a left join with the netflix_movies_by_country data we made earlier. 

netflixJoined = pd.merge(left=thirdDataSet, right=netflixMoviesByCountry, how='inner', left_on=['country'], right_on=['country'])

,show_id_x,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,computer_date,unix_time,month/day,year,genre_count,silly data,show_id_y
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,2020-08-14,1.597363e+18,August 14,2020,3.0,14.0,72
1,s209,Movie,A new Capitalism,NaN,no cast,Brazil,"June 12, 2018",2017,TV-14,76 min,"Documentaries, International Movies",Entrepreneurs worldwide explore alternatives t...,2018-06-12,1.528762e+18,June 12,2018,2.0,3.0,72
2,s219,TV Show,A Queen Is Born,Carla Barros,"Gloria Groove, Alexia Twister",Brazil,"November 11, 2020",2020,TV-14,1 Season,"International TV Shows, Reality TV",Gloria Groove and Alexia Twister make drag dre...,2020-11-11,1.605053e+18,November 11,2020,2.0,4.0,72
3,s321,Movie,Afonso Padilha: Classless,"Junior Carelli, Rudge Campos",Afonso Padilha,Brazil,"September 3, 2020",2020,TV-MA,63 min,Stand-Up Comedy,Brazilian comedian Afonso Padilha dives into h...,2020-09-03,1.599091e+18,September 3,2020,1.0,2.0,72
4,s323,TV Show,Afronta! Facing It!,Juliana Vicente,"Loo Nascimento, Ingrid Silva, Rincon Sapiência...",Brazil,"October 31, 2020",2017,TV-PG,1 Season,"Docuseries, International TV Shows",This docuseries spotlights Afro-Brazilian thin...,2020-10-31,1.604102e+18,October 31,2020,2.0,28.0,72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7618,s7727,Movie,You Carry Me,Ivona Juka,"Lana Baric, Vojislav Brajovic, Natasa Janjic, ...","Croatia, Slovenia, Serbia, Montenegro","July 1, 2016",2015,TV-MA,157 min,"Dramas, International Movies","A soap opera producer, director and makeup art...",2016-07-01,1.467331e+18,July 1,2016,2.0,12.0,1
7619,s7751,TV Show,Yu-Gi-Oh! Arc-V,NaN,"Mike Liscio, Emily Bauer, Billy Bob Thompson, ...","Japan, Canada","May 1, 2018",2015,TV-Y7,2 Seasons,"Anime Series, Kids' TV",Now that he's discovered the Pendulum Summonin...,2018-05-01,1.525133e+18,May 1,2018,2.0,7.0,1
7620,s7760,TV Show,Zak Storm,NaN,"Michael Johnston, Jessica Gee-George, Christin...","United States, France, South Korea, Indonesia","September 13, 2018",2016,TV-Y7,3 Seasons,Kids' TV,Teen surfer Zak Storm is mysteriously transpor...,2018-09-13,1.536797e+18,September 13,2018,1.0,8.0,1
7621,s7771,Movie,Zinzana,Majid Al Ansari,"Ali Suliman, Saleh Bakri, Yasa, Ali Al-Jabri, ...","United Arab Emirates, Jordan","March 9, 2016",2015,TV-MA,96 min,"Dramas, International Movies, Thrillers",Recovering alcoholic Talal wakes up inside a s...,2016-03-09,1.457482e+18,March 9,2016,3.0,9.0,1
7622,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...,2020-10-19,1.603066e+18,October 19,2020,2.0,9.0,1

### Pivot and Melt

**Pivot**

Oftentimes you'll want to pivot or "melt" data. Pivoting data takes it from the "long" format that we are used to and puts it in a "wide" format that might be easier to read. Here's an example.

You typically want to pivot data when you want to present it to individuals as it will be easier to digest.

In [68]:
from pandas import pivot_table


pivot_table = firstDataSet.pivot_table(index='country', columns='type', values='title', aggfunc='count', fill_value=0).reset_index()
pivot_table

type                                            country  Movie  TV Show
0                                             Argentina     34       16
1     Argentina, Brazil, France, Poland, Germany, De...      1        0
2                                      Argentina, Chile      1        0
3                                Argentina, Chile, Peru      1        0
4                                     Argentina, France      1        0
..                                                  ...    ...      ...
676                                           Venezuela      1        0
677                                 Venezuela, Colombia      1        0
678                                             Vietnam      5        0
679                                        West Germany      1        0
680                                            Zimbabwe      1        0

[681 rows x 3 columns]

**Melt**

Oftentimes I receive data from clients and coworkers that's in a "wide" format that I'd like to convert to a "long" format in order to more easily analyze it in Python. Since the data we have is already in the long format, I'll use the example provided on the Pandas website to illustrate how to transform it.

In [69]:
df = pd.DataFrame({'A': {0: 'a', 1: 'b', 2: 'c'},
                   'B': {0: 1, 1: 3, 2: 5},
                   'C': {0: 2, 1: 4, 2: 6}})

df.melt(id_vars=['A'], value_vars=['B'],
        var_name='myVarname', value_name='myValname')

   A myVarname  myValname
0  a         B          1
1  b         B          3
2  c         B          5